<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partes del computador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="learning-page">
    <header>
        <h1>Partes del computador</h1>
        <p>Lección 1 - Informática básica</p>
    </header>
    <main>
        <h2>¿Qué es un computador?</h2>
        <p>Un computador es un dispositivo electrónico que permite realizar diferentes tareas, como escribir documentos,
            navegar por Internet, almacenar información y utilizar diferentes programas. </p>
        <h2>Partes principales</h2>

        <section class="contenido-leccion">
            <h3>🖥️ Monitor</h3>
            <p>Es la pantalla donde podemos observar la información, imágenes, videos y programas que estamos utilizando. </p>
        </section>


        <section class="contenido-leccion">
            <h3>⌨️ Teclado</h3>
            <p>Permite introducir letras, números y diferentes comandos en el computador. </p>
        </section>

        <section class="contenido-leccion">
            <h3>🖱️ Mouse</h3>
            <p>Permite mover el puntero por la pantalla y seleccionar diferentes elementos.  </p>
        </section>

        <section class="contenido-leccion">
            <h3>💻 CPU</h3>
            <p>Es una parte fundamental del computador encargada de procesar las instrucciones y datos. </p>
        </section>
        <br>
        <a href="{{ url_for('evaluacion') }}">
            <button>Realizar evaluación</button>
        </a>
        <br><br>
        <a href="{{ url_for('curso') }}">
            <button>Volver al curso</button>
        </a>
    </main>
</body>
</html>